name: Generate JSON definitions & build
run-name: Generate JSON definitions & build
on:
  pull_request:
  push:
    branches: [main]
env:
  CONTAINER_NAME: json-container
jobs:
  create:
    runs-on: ubuntu-latest
    name: Validate generated code
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Set environment variables
        run: |
          DISTRO=$(./ci/get-metadata.sh debian-distro)
          PROXMOX_VE_VERSION=$(./ci/get-metadata.sh pve-version)
          echo "DISTRO=$DISTRO" >> "$GITHUB_ENV"
          echo "PROXMOX_VE_VERSION=$PROXMOX_VE_VERSION" >> "$GITHUB_ENV"

      - name: Create container
        run: |
          docker create --mount "type=bind,source=./ci,target=/mnt" --name $CONTAINER_NAME debian:$DISTRO sleep infinity
          docker start $CONTAINER_NAME

      - name: Setup proxmox-ve ${{ env.PROXMOX_VE_VERSION }} on debian ${{ env.DISTRO }}
        run: docker exec $CONTAINER_NAME /mnt/setup.sh $DISTRO $PROXMOX_VE_VERSION

      - name: Generate JSON schema
        run: docker exec $CONTAINER_NAME /usr/bin/bash -c "/mnt/dump-schema.pl > /mnt/PVE-schema.json"

      - name: Save package versions
        run: docker exec $CONTAINER_NAME /usr/bin/bash -c "apt list --installed > /mnt/packages.txt"

      - name: Generate the client
        run: cargo run --manifest-path generator/Cargo.toml -- recursive ./ci/PVE-schema.json proxmox-api/src/generated.rs

      - name: Format the generated client
        run: cargo fmt --manifest-path ./proxmox-api/Cargo.toml -- ./proxmox-api/src/generated.rs

      - name: Display git diff
        run: git diff

      - name: Count the amount of commits modifying the generated files
        run: git log --pretty=format:"%H" main..HEAD generated.rs generated | wc -l

      # TODO: validate that generated output is the same as what is being checked in

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: |
            ./ci/PVE-schema.json
            ./ci/packages.txt

      - name: Show line count
        run: wc -l ./ci/PVE-schema.json

  check-and-build:
    strategy:
      matrix:
        definition:
          - name: "library"
            args: "--lib"
          - name: "CLI tool"
            args: "--bin proxmox-api --features cli"
          - name: "library with just the reqwest client"
            args: "--lib --no-default-features --features reqwest-client"

    name: Build & check the ${{ matrix.definition.name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Validate the formatting
        run: cargo fmt --manifest-path proxmox-api/Cargo.toml --check

      - name: Check the ${{ matrix.definition.name }}
        run: cargo check --manifest-path proxmox-api/Cargo.toml ${{ matrix.definition.args }}

      # TODO: reenable this for merges to main?
      - name: Build the ${{ matrix.definition.name }}
        run: cargo build --manifest-path proxmox-api/Cargo.toml ${{ matrix.definition.args }}